@import "../../Settings";

$logoutButtonMargin: 5px;

.NavigationBarFooter {
  min-height: $navigationBarFooterHeight;
  background-color: $primaryBackgroundColor;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  z-index: 100;

  align-self: stretch;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .LoginButton {
    cursor: pointer;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .LogoutButton {
    height: calc(#{$navigationBarFooterHeight} - #{2 * $logoutButtonMargin});
    width: calc(#{$navigationBarFooterHeight} - #{2 * $logoutButtonMargin});
    margin: $logoutButtonMargin;
    border-right: solid 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    > img {
      max-height: 20px;
      transition: 0.3s ease;
      filter: opacity(0.5);
    }

    &:hover {
      > img {
        transform: scale(1.2, 1.2);
        transition: 0.3s ease;
      }
    }
  }

  .Avatar {
    height: calc(#{$navigationBarFooterHeight} - #{2 * $logoutButtonMargin});
    width: calc(#{$navigationBarFooterHeight} - #{2 * $logoutButtonMargin});
    margin: 0 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    > img {
      max-height: 55px;
      filter: opacity(0.5);
    }
  }
}
