.AccountSettingsView {
  flex: 1 1 auto;
  align-self: stretch;
  max-width: 400px;
  margin: 25px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;

  .SubmitWrapper {

    align-self: stretch;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
  }
}