.AccountSettingsView {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: nowrap;
  align-self: stretch;
  margin: 25px;

  .AccountSettingsContent {
    padding: 15px;
    max-width: 430px;
  }

  .SubmitWrapper {
    align-self: stretch;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
  }
}
