@import '../../Settings';

.ImageButton {
  cursor: pointer;
  background-color: transparent;
  transition: all .1s ease-in;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  > img {
    filter: brightness(0) invert(1);
    max-width: 30px;
  }
}