@import '../../Settings';

.SlimNavigationBar {
  width: $slimNavigationBarWidth;
  background-color: transparent;
  overflow: hidden;

  align-self: stretch;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .ImageButton {
    align-self: stretch;
    height: $slimNavigationBarWidth;
    border-bottom: solid 1px white;

    &.active {
      background-color: $secondaryHeaderColor;
      transition: all .1s ease-in;
    }

    &:hover {
      background-color: $secondaryHeaderColor;
      transition: all .1s ease-in;
    }
  }

  &.closed {
    width: 0;
  }
}