.SlimNavigationBar {
  width: 75px;
  background-color: transparent;
  transition: width 1s;

  align-self: stretch;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  &.closed {
    width: 0;
  }
}