@import '../../Settings';

.LoginView{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 30px;

  > img {
    max-height: 200px;
    margin: 50px;
  }

  .LoginContainer {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      padding: 32px;
      border-radius: 8px;
      border: solid 1px white;

    .ButtonsWrapper {
      align-self: stretch;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .TextButton {
        margin-right: 10px;
        box-shadow: white 0 0 0 1px inset;
        color: white;

        &:hover {
          color: $secondaryTextColor;
          background-color: white;
        }
      }
    }
  }
}
