@import '../../Settings';

.FilteringPanel {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  margin-left: 15px;

  .FilterLabel {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-right: 10px;

    color: $secondaryTextColor;
  }

  .TextInput {
    width: 200px;
    margin: 0;

    > label {
      display: none;
    }
  }
}