@import '../../Settings';

.TableBoxWrapper {
  align-self: stretch;
  flex: 1 1 auto;
  min-height: 0;
}


.TableBox {
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 15px 0px rgba(51,209,229,0.4);
  min-width: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .HeaderWrapper {
    width: 100%;
    height: 50px;
    //background-image: linear-gradient(to right top, #5d18ff, #0071ff, #009aff, #00b9ff, #33d1e5);
    background-color: $tableBackgroundColor;
    overflow: hidden;
    min-width: 0;
    position: relative;
  }

  .TableWrapper {
    align-self: stretch;
    flex: 1 1 auto;
  }

  .ControlPanel {
    align-self: stretch;
    height: 50px;
    border-top: 1px solid #e6e6e6;
  }
}