@import '../../Settings';

.NavigationBar {
  width: 350px;
  background-color: transparent;
  position: relative;

  align-self: stretch;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  overflow: hidden;

  > img {
    position: absolute;
    max-height: 360px;
    top: -50px;
    left: 30px;
  }

  .ButtonsWrapper {
    flex: 1 0 auto;
    align-self: stretch;

    background-color: transparent;
    padding: 50px 30px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;

    > * {
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .Footer {
    height: 75px;
    background-color: $primaryBackgroundColor;

    align-self: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
}