@import '../../Settings';

.NavigationBar {
  width: 350px;
  background-color: transparent;

  align-self: stretch;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .Header {
    height: 200px;
    background-color: transparent;

    align-self: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    > img {
      max-height: 500px;
      margin-left: 40px;
      margin-top: 130px;
    }
  }

  .ButtonsWrapper {
    flex: 1 0 auto;
    align-self: stretch;

    background-color: transparent;
    padding: 30px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    > * {
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .Footer {
    height: 75px;
    background-color: $primaryBackgroundColor;

    align-self: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
}