@import '../../Settings';

.ContentContainer {
  flex: 1 1 auto;
  background-color: $primaryBackgroundColor;
  padding: 25px 50px 25px 50px;
  min-width: 0;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}